$main: #c80001;
$black: #211c18;
$black-1: #211c18;
$black-80: #4d4946;
$white: #ffffff;
$white-2: #E9E8E8;
$gray: #7A7774;
$gray-1: #9f9f9f;
$gray-2: #f2f3f5;
$cashmere: #E8C9AA;
$red: #C80001;
$red-2: #AF2E55;
$lime: #7FC0C0;
$img-gradient: linear-gradient(180deg, rgba(0, 0, 0, 0) 48.44%, #000000 100%);

$font-urw: "URW DIN";
$font-proxima: "Proxima";
$font-custom: "Custom";


