.approach {
  &__inner {
    display: flex;
    position: relative;
    &-content {
      width: 50%;
      margin-right: 50%;
      box-sizing: border-box;
      padding: 100px 120px 100px 4.86%;
    }
    &-image {
      position: absolute;
      top: 0;
      right: 0;
      width: 50%;
      height: 100%;
      img {
        @include fullImage;
        object-position: center top;
      }
    }
  }
  &__list {
    display: flex;
    max-width: 500px;
    margin: 30px 0;
    &-column {
      width: 50%;
    }
    &-item {
      padding: 20px 40px 30px 0;
      position: relative;
      &::before {
        position: absolute;
        content: "";
        top: 4px;
        height: 8px;
        width: 24px;
        border-radius: 10px;
        background: $main;
      }
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 160%;
      letter-spacing: 0.01em;
      color: $white;
    }
  }
  h2 {
    color: $main;
    margin-bottom: 20px;
  }
  &-light {
    background: #e9e8e8;
    .approach {
      &__inner {
        &-content {
          padding: 90px 4.86% 90px 4.86%;
        }
        &-image {
          &::before {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            content: "";
            background: linear-gradient(
              270deg,
              rgba(233, 232, 232, 0) 28.62%,
              #e9e8e8 100%
            );
          }
        }
      }
    }
    p {
      color: $black;
      margin-bottom: 40px;
    }
    h4 {
      color: $main;
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -20px;
      li {
        width: 50%;
        color: $black;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 160%;
        letter-spacing: 0.01em;
        padding: 20px;
        box-sizing: border-box;
        .li__text {
          width: 80%;
        }
        span {
          font-size: 32px;
          line-height: 1;
          color: $main;
        }
      }
    }
  }
}

@mixin approach1300 {
  .approach {
    &__inner {
      &-content {
        padding: 50px 30px 50px 30px;
      }
    }
    &__list {
      &-item {
        padding: 20px 20px 20px 0;
      }
    }
    &-light {
      .approach {
        &__inner {
          &-content {
            padding: 50px 30px 50px 30px;
          }
        }
      }
    }
  }
}
@mixin approach1024 {
  .approach {
    &__list {
      &-item {
        padding: 15px 15px 15px 0;
        font-size: 14px;
      }
    }
    h2 {
      font-size: 38px;
    }
    &-light {
      ul {
        li {
          .li__text {
            width: 100%;
          }
        }
      }
    }
  }
}
@mixin approach840 {
  .approach {
    &__inner {
      flex-direction: column;
      -ms-flex-direction: column;
      &-content {
        padding: 100px 50px 100px 50px;
        width: 100%;
        margin-right: 0;
        order: 2;
      }
      &-image {
        order: 1;
        width: 100%;
        position: relative;
        top: unset;
        left: unset;
      }
    }
    &-light {
      .approach {
        &__inner {
          &-image {
            &::before {
              background: linear-gradient(
                180deg,
                rgba(233, 232, 232, 0) 28.62%,
                #e9e8e8 100%
              );
            }
          }
        }
      }
    }
  }
}
@mixin approach650 {
  .approach {
    &__inner {
      &-content {
        padding: 50px 30px 50px 30px;
      }
    }
    &__list {
      flex-direction: column;
      -ms-flex-direction: column;
      &-column {
        width: 100%;
      }
      &-item {
        padding: 20px 20px 20px 0;
        font-size: 16px;
      }
    }
    &-light {
      ul {
        li {
          width: 100%;
        }
      }
    }
  }
}
