// 1300px
@include xxlg-xxxlg {
  .auto__container {
    padding: 0 30px;
  }
  @include intro1300;
  @include help1300;
  @include news1300;
  @include gallery1300;
  @include card1300;
  @include extraNews1300;
  @include sideimage1300;
  @include footer1300;
  // round - 2 medias start
  @include hero1300;
  @include approach1300;
  @include video1300;
  // round - 2 medias end
  // round - 3 medias start
  @include cardSection1300;
  @include grid1300;
  // round - 3 medias end
  // round - 4 medias start
  @include blog1300;
  // round - 3 medias end
  // round - 5 medias start
  @include donation1300;
  @include quick1300;
  // round - 5 medias end
}
// 1180px
@include xlg-xxlg {
  @include footer1180;
  @include news1180;
  // round - 3 medias start
  @include grid1180;
  @include cardSection1180;
  @include partner1180;
  // round - 3 medias end
  // round - 5 medias start
  @include donation1180;
  @include quick1180;
  // round - 5 medias end
}
// 1024px
@include lg-xlg {
  h2 {
    br {
      display: none;
    }
  }
  h3 {
    br {
      display: none;
    }
  }
  h4 {
    br {
      display: none;
    }
  }
  p {
    br {
      display: none;
    }
  }
  // round - 2 medias start
  @include hero1024;
  @include approach1024;
  // round - 2 medias end
  // round - 3 medias start
  @include grid1024;
  @include report1024;
  @include cardSection1024;
  @include video1024;
  // round - 3 medias end
  // round - 4 medias start
  @include blog1024;
  @include partner1024;

  // round - 4 medias end
  // round - 5 medias start
  @include donation1024;
  @include nav1024;
  @include header1024;
  // round - 5 medias end
}
// 840px
@include md-lg {
  @include intro840;
  @include help840;
  @include general840;
  @include card840;
  @include extraNews840;
  @include sideimage840;
  @include footer840;
  // round - 2 medias start
  @include hero840;
  @include approach840;
  // round - 2 medias end
  // round - 3 medias start
  @include grid840;
  @include cardSection840;
  // round - 3 medias end
  // round - 4 medias start
  @include blog840;
  @include partner840;
  @include contact840;
  @include stepCTA840;
  // round - 4 medias end
  // round - 5 medias start
  @include quick840;
  // round - 5 medias end
}
// 650px
@include sm-md {
  @include intro650;
  @include gallery650;
  @include help650;
  @include card650;
  @include sideimage650;
  @include newsletter650;
  @include difference650;
  @include news650;
  @include extraNews650;
  // round - 2 medias start
  @include hero650;
  @include approach650;
  // round - 2 medias end
  // round - 3 medias start
  @include grid650;
  @include report650;
  @include questions650;
  @include cardSection650;
  // round - 3 medias end
  // round - 4 medias start
  @include blog650;
  @include policy650;
  @include partner650;
  @include contact650;
  // round - 4 medias end
  // round - 5 medias start
  @include donation650;
  @include donate650;
  @include nav650;
  // round - 5 medias end
}
// 380px
@include xsm-sm {
  .auto__container {
    padding: 0 15px;
  }
  @include intro380;
  @include help380;
  @include gallery380;
  @include news380;
  // round - 2 medias start
  @include hero380;
  // round - 2 medias end
  // round - 4 medias start
  @include blog380;
  // round - 4 medias end
}
// 360px
@include xxsm-xsm {
  .auto__container {
    padding: 0 30px;
  }
  @include intro360;
  @include help360;
}
